version: '3.8'

services:
  n8n:
    build:
      context: .
    image: n8nio/n8n:2.2.4
    container_name: n8n_breno
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - N8N_RUNNERS_ENABLED=true
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_ENCRYPTION_KEY=Ke/GIjRsMWv1RUZ6TyWQ63tdsT6ikm78
    volumes:
      - ./.n8n:/home/node/.n8n
